@media only screen and (max-width: 479px){}

/*visual*/
.visual__content{
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}
.about-slider,
.about-slider.slick-dotted{
	margin-left: 0;
	margin-right: 0;
}
/*visual end*/

/*trans*/
.trans-list li {
	width: 49.98%;
}
/*trans end*/

@media only screen and (max-width: 399px){
	/*trans*/
	.trans-list li {
		display: block;
		width: auto;
	}
	/*trans end*/
}