@media only screen and (max-width: 639px){}

@media only screen and (max-width: 979px){}

/*TYPOGRAPHIC STYLES*/
body{}
h1, h2, h3, h4, h5, h6{}
h1{
	font-size: 36px;
	line-height: 47px;
}
h2{
	font-size: 28px;
	line-height: 36px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
}
h4 {
	font-size: 22px;
	line-height: 28px;
}
.color-scheme{
	float: none;
	margin: 0 0 30px;
}
/*TYPOGRAPHIC STYLES end*/

/*btn*/
/*btn-default*/
.btn-default{}
/*btn-default end*/
/*btn end*/

/*USER CONTENT*/
.user-content p+h2,
.user-content ul+h2,
.user-content ol+h2,
.user-content p+h3,
.user-content ul+h3,
.user-content ol+h3,
.user-content p+h4,
.user-content ul+h4,
.user-content ol+h4,
.user-content p+h5,
.user-content ul+h5,
.user-content ol+h5{}

/*list*/
.user-content ul,
.user-content ol{}
/*list end*/

/*default table*/
table{}
/*default table end*/

/*table styling*/
.user-content .tbl{}
/*table styling end*/

/*blockquote*/
.user-content blockquote {
	padding: 0 0 0 10%;
}
.user-content blockquote q:before, .user-content blockquote .q:before {
	width: 20px;
	margin: 12px 10px 0 -30px;
}
.user-content blockquote q, .user-content blockquote .q {
	font-size: 20px;
	line-height: 26px;
}
/*blockquote end*/

/*content img*/
.imgc{}
.imgl{}
.imgr{}
/*content img end*/

/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{}

/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{}
/*form error end*/

/*checkbox*/
input[type="checkbox"]{}
/*checkbox end*/

/*radio*/
input[type="radio"]{}
/*radio end*/

.form-row .input-wrap{
	display: block;
	width: auto;
	margin-bottom: 35px;
}

/*select*/
/*select overall*/
.select{}
/*select overall end*/

/*multiselect button*/
button.cselect{}
/*multiselect button end*/

/*multiselect menu*/
div.cselect.ui-multiselect-menu{}
/*multiselect menu end*/
/*select end*/

.form-note{}
/*elements form style end*/

/*download files items*/
/*files item*/
.files .files-item {
	display: block;
	vertical-align: top;
	width: auto;
	padding: 0 0 48px 30px;
}
/*files item end*/
/*download files items end*/

/*view print*/
.view-print svg{
	vertical-align: top;
	margin-right: 0;
}
.view-print span{
	display: none;
}
/*view print end*/
/*USER CONTENT end*/

/*MAIN BLOCKS*/
.wrapper{}
.header{}
.main{}
.max-wrap { padding: 0 20px; }
/*MAIN BLOCKS end*/

/*HEADER*/
.header-panel{}
/*main navigation*/
.nav-list{}
/*main navigation end*/

/*lang*/
.lang{}
/*lang end*/
.header-contain{}

/*logo*/
.logo-wrap{}
.logo{}
/*logo end*/

/*slogan*/
.slogan{}
/*slogan end*/

/*call*/
.call{}
/*call end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/
/*breadcrumbs*/
.breadcrumbs{}
/*breadcrumbs end*/

/*section*/
.section{}
/*section end*/

/*banner*/
.banner { padding: 140px 0 40px 0; }
.banner__title{
	font-size: 24px;
	line-height: 28px;
	padding: 16px 12px 16px 20px;
}
/*banner end*/

/*datetime*/
.datetime{}
/*datetime */

/*callback form*/
.callback-form {
	padding: 38px 0;
}
/*callback form end*/

/*promo*/
.promo{}
/*promo end*/

/*brief*/
.brief{}
/*brief end*/

/*traffic*/
.traffic{}
.local-map{}
/*traffic end*/

/*adt*/
.adt{}

.adt-slider .slick-prev,
.adt-slider .slick-next{}
/*adt end*/

/*connect*/
.connect{}
/*connect end*/

/*visual*/
.visual{}
/*visual end*/

/*services*/
.services{}
/*services end*/

/*profits*/
.profits{}
/*profits end*/

/*acts*/
.acts{}
/*acts end*/
/*CONTENT*/
/*MAIN end*/

/*FOOTER*/
.footer{}
/*footer holder*/
.footer-holder{}
.footer-col{}

/*developer*/
.developer_logo{}
/*developer end*/
/*footer holder end*/
/*FOOTER end*/