@media only screen and (max-width: 979px){}

/*TYPOGRAPHIC STYLES*/
h1, h2, h3, h4, h5{ text-align: center; }
h1 {
	font-size: 50px;
	line-height: 68px;
}
/*TYPOGRAPHIC STYLES*/

/*USER CONTENT*/
/*view print*/
.view-print{
	font-size: 14px;
}
/*view print end*/
/*USER CONTENT end*/

/*MAIN BLOCKS*/
.max-wrap,
.max-wrap-md{
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.header-panel .max-wrap{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header-panel__holder{ height: 50px; }
/*main navigation*/
.nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #ca0503;
	z-index: 99;
	display: none;
	overflow: auto;

	font-size: 0;
	letter-spacing: -4px;
}
.nav:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.nav-list{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	min-height: 0;
	max-width: 98%;
	position: relative;
	overflow: visible;
	z-index: 1;
}
.nav-list li{
	display: block;
	position: relative;
	font-size: 24px;
	line-height: 36px;
}
.nav-list a{
	display: block;
	color: #fff;
	padding: 12px;
}
.nav-list a span{
	border: none;
}
/*main navigation end*/

/*button menu*/
.btn-menu{ display: block; }
/*button menu end*/

/*lang*/
.lang-list, .user-content .lang-list{
	font-size: 20px;
	line-height: 38px;
}
.lang-list a {
	padding: 0 17px;
}
/*lang end*/

/*logo*/
.logo{
	width: 234px;
	margin-left: -117px;
}
/*logo end*/

/*header info*/
/*header info end*/

/*slogan*/
.slogan{
	font-size: 12px;
	line-height: 16px;
}
/*slogan end*/

/*call*/
.call__phone {
	font-size: 24px;
	line-height: 28px;
}
/*call end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/
/*banner*/
.banner{
	padding: 220px 20px 80px 0;
}
.banner__title{
	padding: 6px 12px 6px 42px;
}
/*banner end*/

/*callback form*/
/*callback form end*/

/*section*/
.section h2{ text-align: center; }
/*section end*/

/*brief*/
.brief{ padding: 0; }
.brief__content{
	float: none;
	width: auto;
	padding: 0 0 69px;
}
.brief__frame{
	margin-right: 0;
	padding-right: 0;
}
.brief__content h2{
	text-align: center;
}
.about-preview__text{
	margin: 0 0 34px;
}
.about-preview__buttons{ text-align: center; }
.brief__aside{
	float: none;
	width: auto;
	margin-left: 0;
	padding: 0 0 51px;
}
.offers h2{
	text-align: center;
	padding: 0 0 37px;
}
.offers-list{
	margin: 0 -10px;
}
.offers-list__item{
	display: inline-block;
	vertical-align: top;
	width: 49.98%;
	padding-left: 10px;
	padding-right: 10px;
}
/*brief end*/

/*traffic*/
.traffic-head{ padding: 0 0 79px; }
.traffic-switcher{
	position: relative;
	left: auto;
	top: auto;
	padding: 0;
	text-align: center;
}
.traffic-head h2{
	text-align: center;
	padding: 0 0 48px;
}
.local-map{
	position: absolute;
	left: -10px;
	right: -10px;
}
.map-container:before { padding-top: 59.5%; }
/*traffic end*/

/*adt*/
.adt-section h2{
	float: none;
	min-width: 0;
	padding: 0 30px 25px;
	margin-top: 0;
	text-align: center;
}
/*adt end*/

/*connect*/
.header-contain {
	padding: 39px 0 76px;
}
.connect-section{ padding: 0; }
.connect-section h2{
	text-align: center;
	padding: 0 0 32px;
}
.connect-col{
	width: 49.98%;
}
.connect__adr br{ display: none; }
/*connect end*/

/*visual*/
.visual__img{
	display: block;
	width: auto;
	padding: 0 0 40px;
}
.visual__figure{
	margin: 0 auto;
}
.visual__content{
	width: auto;
	display: block;
	max-width: 77%;
	margin: 0 auto;
}
.visual__text{
	max-height: none;
	height: auto;
}
.about-slide__title{
	padding: 0 0 26px;
	text-align: center;
}
.about-slider .slick-prev, .about-slider .slick-next { top: 50%; }
/*visual end*/

/*services*/
.services-list__item{ width: 49.98%; }
/*services end*/

/*profits*/
.profits-list{ margin: 0 -14px; }
.profits-list__item{ padding: 0 14px 28px; }
/*profits end*/

/*acts*/
.acts-list{
	margin: 0 -40px;
}
.acts-list__item figcaption{
	text-align: center;
}
/*acts end*/

/*wide slider*/
.wide-slider{}
/*wide slider end*/

/*visual slider*/
.visual-slider{}
/*visual slider end*/

/*trans*/
.trans-list li{ width: 24.98%; }
/*trans end*/

/*other*/
.other-between {
	display: block;
	width: auto;
	margin: 0 0 50px;
}
.other-box{
	width: 49.98%;
}
/*other end*/

/*jobs*/
.jobs-title h2 {
	text-align: left;
	padding-top: 7px;
	padding-bottom: 39px;
}
.job-img {
	display: none;
}
.job-box {
	width: 45%;
}
/*jobs end*/

/*photos*/
.photos{
	padding: 0 70px;
}
.photos .photos__arrow_prev{
	left: 5px;
}
.photos .photos__arrow_next{
	right: 5px;
}
/*photos end*/
/*CONTENT end*/
/*MAIN end*/

/*FOOTER*/
/*footer holder*/
.footer-holder{ padding: 18px 30px; }
.footer-holder:after{ content: none; }
.footer-col{
	display: block;
	text-align: center;
	padding: 6px 0;
}
/*footer holder end*/
/*FOOTER end*/

@media only screen and (max-width: 859px){
	.job-img {
		left: 250px;
		right: 295px;
	}
}