/* proximanova regular */
@font-face {
	font-family: 'proximanova-regular';
	src: url('../fonts/proximanova/regular/proximanova-regular.eot');
	src: url('../fonts/proximanova/regular/proximanova-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/regular/proximanova-regular.woff') format('woff'),
	url('../fonts/proximanova/regular/proximanova-regular.ttf') format('truetype'),
	url('../fonts/proximanova/regular/proximanova-regular.svg#proximanova-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova black */
@font-face {
	font-family: 'proximanova-black';
	src: url('../fonts/proximanova/black/proximanova-black.eot');
	src: url('../fonts/proximanova/black/proximanova-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/black/proximanova-black.woff') format('woff'),
	url('../fonts/proximanova/black/proximanova-black.ttf') format('truetype'),
	url('../fonts/proximanova/black/proximanova-black.svg#proximanova-black') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova bold */
@font-face {
	font-family: 'proximanova-bold';
	src: url('../fonts/proximanova/bold/proximanova-bold.eot');
	src: url('../fonts/proximanova/bold/proximanova-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/bold/proximanova-bold.woff') format('woff'),
	url('../fonts/proximanova/bold/proximanova-bold.ttf') format('truetype'),
	url('../fonts/proximanova/bold/proximanova-bold.svg#proximanova-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova bold cond */
@font-face {
	font-family: 'proximanova-extra-bold';
	src: url('../fonts/proximanova/extra-bold/proximanova-extra-bold.eot');
	src: url('../fonts/proximanova/extra-bold/proximanova-extra-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/extra-bold/proximanova-extra-bold.woff') format('woff'),
	url('../fonts/proximanova/extra-bold/proximanova-extra-bold.ttf') format('truetype'),
	url('../fonts/proximanova/extra-bold/proximanova-extra-bold.svg#proximanova-extra-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova bold italic */
@font-face {
	font-family: 'proximanova-bold-italic';
	src: url('../fonts/proximanova/bold-italic/proximanova-bold-italic.eot');
	src: url('../fonts/proximanova/bold-italic/proximanova-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/bold-italic/proximanova-bold-italic.woff') format('woff'),
	url('../fonts/proximanova/bold-italic/proximanova-bold-italic.ttf') format('truetype'),
	url('../fonts/proximanova/bold-italic/proximanova-bold-italic.svg#proximanova-bold-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova italic */
@font-face {
	font-family: 'proximanova-italic';
	src: url('../fonts/proximanova/italic/proximanova-italic.eot');
	src: url('../fonts/proximanova/italic/proximanova-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/italic/proximanova-italic.woff') format('woff'),
	url('../fonts/proximanova/italic/proximanova-italic.ttf') format('truetype'),
	url('../fonts/proximanova/italic/proximanova-italic.svg#proximanova-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova light */
@font-face {
	font-family: 'proximanova-light';
	src: url('../fonts/proximanova/light/proximanova-light.eot');
	src: url('../fonts/proximanova/light/proximanova-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/light/proximanova-light.woff') format('woff'),
	url('../fonts/proximanova/light/proximanova-light.ttf') format('truetype'),
	url('../fonts/proximanova/light/proximanova-light.svg#proximanova-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova light italic*/
@font-face {
	font-family: 'proximanova-light-italic';
	src: url('../fonts/proximanova/light-italic/proximanova-light-italic.eot');
	src: url('../fonts/proximanova/light-italic/proximanova-light-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/light-italic/proximanova-light-italic.woff') format('woff'),
	url('../fonts/proximanova/light-italic/proximanova-light-italic.ttf') format('truetype'),
	url('../fonts/proximanova/light-italic/proximanova-light-italic.svg#proximanova-light-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova semibold */
@font-face {
	font-family: 'proximanova-semibold';
	src: url('../fonts/proximanova/semibold/proximanova-semibold.eot');
	src: url('../fonts/proximanova/semibold/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/semibold/proximanova-semibold.woff') format('woff'),
	url('../fonts/proximanova/semibold/proximanova-semibold.ttf') format('truetype'),
	url('../fonts/proximanova/semibold/proximanova-semibold.svg#proximanova-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* proximanova semibold italic */
@font-face {
	font-family: 'proximanova-semibold-italic';
	src: url('../fonts/proximanova/semibold-italic/proximanova-semibold-italic.eot');
	src: url('../fonts/proximanova/semibold-italic/proximanova-semibold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/semibold-italic/proximanova-semibold-italic.woff') format('woff'),
	url('../fonts/proximanova/semibold-italic/proximanova-semibold-italic.ttf') format('truetype'),
	url('../fonts/proximanova/semibold-italic/proximanova-semibold-italic.svg#proximanova-semibold-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}